.wd-list-images {
    border-radius: 100%;
    width: 100%;
}

.wd-list-font-bold {
    font-weight: bold;
}

.wd-list-title {
    color: #91979e;
    font-weight: normal;
}

.wd-list-time {
    color: #91979e;
    font-weight: normal;
}

.wd-list-imgs {
    width: 100%;
    border-radius: 5px;
}

.wd-search-bar-parent-div {
    align-items: center;
    margin-left: 2px;
}

.wd-search-bar-div {
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    background-color: white;
}

.wd-search-bar-parent-div {
    align-items: center;
    margin-left: 2px;
}

.wd-search-icon {
    margin-left: -10px;
    color: #585f66;
}
.wd-search-bar {
    border: none;
    width: 100%;
    height: 36px;
    margin-left: -13px;
    background-color: white;
}
.wd-icon-setting {
    font-size: 30px;
    color: #2a9fd6;
}

.nav-tabs .nav-item .active {
    color: white;
    border: none;
}

.wd-main-img {
    width: 100%;
}

.wd-main-img-title {
    font-size: 40px;
    font-weight: bold;
    color: #262626;
    margin-top: -68px;
    margin-left: 8px;
}
.wd-hidden {
    visibility: hidden;
}
.wd-postlist {
    background-color: #060606;
    border: none;
}
.wd-list-imgs {
    width: 100%;
    border-radius: 100%;
}
.wd-home-postimg {
    width: 100%;
    border-radius: 10px;
}
.wd-home-userinfo {
    color: #585f66;
    font-weight: normal;
}
.wd-home-username {
    color: white;
    font-weight: bold;
}
.wd-home-post-main {
    margin-top: 12px;
    border: 1px solid #585f66;
    border-radius: 10px;
}
.wd-home-title {
    padding: 10px;
}
.wd-home-content {
    padding: 0 10px 0 10px;
    color: #585f66;
}
.wd-home-link {
    color: #585f66;
    padding: 0 0 10px 10px;
}
.wd-home-item {
    border-bottom: 1px solid #585f66;
    background-color: #060606;
}
.wd-post-status {
    color: #585f66;
    padding: 10px 0 10px 0;
}
.wd-home-more {
    float: right;
}
.wd-icon-blue{
    color: #1e9bf0;
}
.wd-what-post {
    background-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #585f66;
}